# Exemplo de configuração do ambiente
# Copie este arquivo para .env e preencha com os seus dados locais.

DATABASE_URL="sua_url_do_banco"

PORT=3000

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
